.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  min-width: 550px;
  min-height: 100px;
  background-color: #2c40ff;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.phrase {
  font-size: 3vh;
  color: white;
}

/* Responsive Styles */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .modal {
    min-width: 450px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .modal {
    min-width: 350px;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .modal {
    min-width: 300px;
  }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .modal {
    min-width: 200px;
  }
  .phrase {
    font-size: 2vh;
  }
}
