@font-face {
  font-family: "Sansation";
  font-style: normal;
  font-weight: 400;

  src: local("Sansation"), local("Sansation"),
    url("./Assets/Font/Sansation.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Sansation";
}

input:focus {
  outline: none;
}

input::placeholder {
  font-size: 2vh;
}
