/* CUSTOMINPUT */
.body {
  display: flex;
  width: 60vw;
}
.urlInputBox {
  width: 60%;
  height: 60px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.urlInput {
  border: none;
  border-radius: 15px;
  padding: 10px;
  font-size: 2vh;
  width: 100%;
}
.codeInputBox {
  width: 35%;
  height: 60px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-left: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.codeInput {
  border: none;
  border-radius: 15px;
  padding: 10px;
  font-size: 2vh;
  width: 100%;
}
.inputBtn {
  background-color: #2c40ff;
  color: white;
  font-size: 2vh;
  font-weight: bold;
  border-radius: 15px;
  width: 10vw;
  height: 80%;
  margin-top: 5px;
  margin-right: 10px;
  border: 0px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.inputBtn:active {
  opacity: 0.9;
}
.msgContainer {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrowBtn {
  margin-top: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
}

/* Responsive Styles */

@media screen and (max-width: 850px) {
  .body {
    display: grid;
    place-items: center;
    width: 100%;
  }
  .urlInputBox {
    width: 100%;
  }
  .codeInputBox {
    margin-top: 10px;
    margin-left: 0;
    width: 60%;
  }
  .msgContainer {
    top: 140%;
  }
  .codeInput {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .codeInputBox {
    display: block;
    height: 40px;
    width: 100%;
  }
  .inputBtn {
    margin-top: 25px;
    height: 45px;
    width: 100%;
  }
  .arrowBtn {
    margin-top: 90px;
  }
  .msgContainer {
    top: 120%;
  }
  .urlInput {
    width: 90%;
  }
  .urlInputBox {
    height: 40px;
  }
}
