/* RANDOMINPUT */
.inputBox {
  width: 50vw;
  height: 60px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.urlInput {
  background-color: none;
  border: none;
  border-radius: 15px;
  padding: 10px;
  font-size: 2vh;
  width: 100%;
}
.inputBtn {
  background-color: #2c40ff;
  color: white;
  font-size: 2vh;
  font-weight: bold;
  border-radius: 15px;
  width: 10vw;
  height: 80%;
  margin-top: 5px;
  margin-right: 10px;
  border: 0px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.inputBtn:active {
  opacity: 0.9;
}

.msgContainer {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.radioLabel {
  font-size: 3vh;
}
.radioContent {
  display: grid;
  place-items: end;
}
.arrowBtn {
  border: none;
  background-color: white;
}
.arrowBtn:hover {
  cursor: pointer;
}

/* Responsive Styles */

@media screen and (max-width: 600px) {
  .inputBox {
    display: block;
    height: 40px;
  }
  .inputBtn {
    margin-top: 20px;
    height: 45px;
    width: 100%;
  }
  .radioContent {
    margin-top: 60px;
    place-items: start;
  }
  .urlInput {
    width: 90%;
  }
}
